.candidate__content .item {
    width: 50%;
    height: 320px;
  }
  .candidate__content .item:first-child {
    background-color: blue;
  }
  .candidate__content .item img {
    width: 170px;
    height: 170px;
  }
  .progressbar {
    width: 100%;
  }
  .ratio {
    height: 20px;
  }
  
  .ratio.biden {
    background-color: blue;
    width: 60%;
  }
  
  .ratio.trump {
    background-color: red;
    width: 40%;
  }
  