* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  

  .candidate .trump,
  .candidate .biden {
    height: 40px;
  }
 
 
  .resultDetail{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 18px;
    align-items: center;
    padding: 5px ;
}
.resultDetail p{
    margin-bottom: 0;
}