* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  .state__detail__content .item > p span:last-child {
    margin-left: 30px;
  }
  
  .candidate .trump,
  .candidate .biden {
    height: 40px;
  }
  .state__detail__content .nav {
      margin-top: 30px;
    }
  .state__detail__content .nav span {
    margin-right: 30px;
  }
  .resultDetail{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 18px;
    align-items: center;
    padding: 5px ;
}
.resultDetail p{
    margin-bottom: 0;
}